include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

+b('redgarnet')
  +e('title', {t:'span'}) Создание сайта
  +e('link', {t: 'a'})(title="RedGarnet" target="_blank" :href="url") RedGarnet
