$developed-by-primary: #a63113;

.redgarnet {
  &__link {
    position: relative;
    padding-left: 20px;
    margin-left: 6px;
    color: $developed-by-primary;
    text-decoration: none;

    &:hover {
      color: lighten($developed-by-primary, 20%);
      text-decoration: none;
    }

    &:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      width: 14px;
      height: 16px;
      background:
        url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAzCAMAAADfL8pAAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABmUExURUdwTNU+HNE8H6UsDsc2E6QsDsk3EqQsDrAwEdU3Gsw4EqQrDKMrDss3E+FILOhNM6MrDeJJLKoiAOhMM+lNMuhNM+hONKQtD8w4FMc2Es45F9Y/HuNJLtxEJq4vD6ctD70zEbcxESHbfkMAAAAWdFJOUwBaH9cvv+uDPw+iVazPg+pvrw+fZ8egskkDAAABaUlEQVRIx5WW2XLDIAxFvW9x9lamXpL6/3+yhhhbBiHofT5zGF3NAFEUmOxUtmkfACZV2ebdklmMPFndSgXKvH5ED8zZedrtef8KISagz8agVotFfsAf+OzOVEu5xivjbFu9ZPzgpRNEaiEG+OAc3M2rWsl9+HuDlVziVYhaDarwk29ElR5WvHSpBc6k8dav1nKJ51x7h0EV7levLSr84VdvciB6tNWbHKweCfUuB7PHmVDrFhXe0jsnWlR47lMjOaAeXw4YyWHvcRauDAivPGrUosRvzvYIOageOfVBDksxrFr0aNAFT3k1blHiBQ+LgxyirPiHfFlTfWZxMHCeHyw8qpuwFkHfkU2gXF+plzD5dmHHAS0inOYnJ04twJLj18PmJw6PkrNn0CNuLmwAHjcWZsnvsflMNk759ZIQ729DD/qsHO91bLf4/VW7PwLxUX59Zp6PQ7HLWTFa2OCcjuRHojZn6jst/gPO+aII/T7qFwAAAABJRU5ErkJggg==)
        no-repeat;
      background-size: 14px;
    }
  }
}
