.navbar {
  @include list-unstyled();
  display: flex;
  padding: 0;
  margin: 0;

  &__item {
    margin-left: .7rem;
    margin-right: .7rem;
  }

  &__link {
    padding: .5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $black;
    font-size: .85714rem;

    &:hover,
    &.active {
      color: $primary;
      text-decoration: none;
    }
  }
}
