$body-color:            #a7a7a7;

$primary:               #FF6F61;
$primary-light:         lighten($primary, 10%);


$black:                 #444;
$gray:                  #b5b5b5;


$font-size-base:        .92857rem;
$font-family-base:      "Montserrat",Helvetica,Arial,sans-serif;
