include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

+b('page-header',{t:'header'})
  +e('container') 
    +e('logo',{t:'logo'})
    +e('navbar',{t:'navbar'})
    +e('cart',{t:'cart'})
