.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  box-shadow: 0 0 3px $gray;

  &__container {
    @include make-container();
    @include make-container-max-widths();

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }
}
